{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Hello Check</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body class="body">
    <div class="body-div">
        <hr class="body-hr">
    </div>
    <div>
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>